  <%= render "navbar" %>
  <body class='bg-blurred'>
    <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
      <div class="bg-dark p-4">
        <h5 class="text-body-emphasis h4">Collapsed content</h5>
        <span class="text-body-secondary">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class='container1  '>
    <div class='row  '>
        <h1 style= 'color:white' class='log-title' ><span > Full Circle</span></h1>

    <%# <div class='form1'> %>
      <%= form_with(scope: :session, url: login_path) do |deets| %>

        <div class="form-group">
          <%= deets.text_field :username, class: "form-control", placeholder: "Username" %>
        </div>

        <div class="form-group">

          <%= deets.password_field :password,
                              class: "form-control",
                              required: true,
                              minlength: 6,
                              pattern: ".{6,}",
                              title: "Password must have a minimum of 6 characters",
                                                            placeholder: "Password"
%>
          <small class="text-danger">Password must have a minimum of 6 characters.</small>

        </div>

        <div class="form-group">
          <%= deets.submit "Log in", class: "bt1 btn btn-primary" %>
</div>
      <% end %>
<div class='createAcc'>
      <%= link_to "Don't have an account? Let's get started then",
      signup_path,
      style: "font-weight: bold; color: white;" %></div>
    </div>

<div  class='blur'>
      </div>

</body>
   
  </div>
  