
  <body class='userLog'>
  <%= render "navbar3" %>
<br>
<br>
<br>
<br>
<br>
<div class='container6'>
  <div class="row msgs">
  <div class="col-4">
    <%# <div class="list-group" id="list-tab" role="tablist"> %>
      <%# <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a> %>
      <%# <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a> %>
      <%# <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="<%new_user_message_path(@user)%>
       <%= link_to "Messages", new_user_message_path(@user), class: "msgbox list-group-item list-group-item-action", id: "list-messages-list"%>

      <%# <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a> %>
    </div>
  </div>
   <% if current_user.messages.exists?%>
  <div>
    Inbox
    <%= current_user.messages.first.content%>
  </div>
  </div>
  <% end %>
<div class='container'>
  <%= button_to "Logout", logout_path, method: :get, class: "btn btn-danger" %>
  <h2>Welcome
    <%= current_user.username %></h2>

    
  <p>Dilscover the creators you need to get to the next level</p>


  



 <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <%= link_to root_path, class: "navbar-brand mt-2 mt-lg-0" do %>
      <% end %>

      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Dashboard", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Team", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Projects", "#", class: "nav-link" %>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <%= link_to "#", class: "text-reset me-3" do %>
        <i class="fas fa-shopping-cart"></i>
      <% end %>

      <!-- Notifications -->
      <div class="dropdown">
        <%= link_to "#", class: "text-reset me-3 dropdown-toggle hidden-arrow", id: "navbarDropdownMenuLink", role: "button", "data-bs-toggle" => "dropdown", "aria-expanded" => "false" do %>
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        <% end %>
      
    </div>
    <!-- Right elements -->
  </div></div>


<br>
<br>
<br>


    
<div class='container'>
    <div class=" navbar_home collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar_home navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to('#', class: 'nav-link mx-2 active', 'aria-current' => 'page') do %>
            Home
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to('#', class: 'nav-link mx-2') do %>
            Products
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to('#', class: 'nav-link mx-2') do %>
            Pricing
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to('#', class: 'nav-link mx-2 dropdown-toggle', id: 'navbarDropdownMenuLink', 'data-bs-toggle' => 'dropdown', 'aria-expanded' => 'false') do %>
            Company
          <% end %>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><%= link_to('Blog', '#', class: 'dropdown-item') %></li>
            <li><%= link_to('About Us', '#', class: 'dropdown-item') %></li>
            <li><%= link_to('Contact us', '#', class: 'dropdown-item') %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  
    

<br>
<br>
<br>
<br>
<br>
<br>
<br>

</body>